body {
  font-family: "Montserrat", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #515076;
	background-image: url("images/dandelions.png");
  background-repeat: no-repeat;

}

.title {
	font-size: 70px;
	line-height: 78px;
	margin:0%;
	text-align: center;

	color:#515076;
}

.category {
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 5px;
	color: #a5a3b9;
}

.product-list {
	display: flex;
	margin:0px;
	padding:0px;
	list-style: none;
	flex-wrap: wrap;
	justify-content: center;
}

.product-card {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background: #F7F7FA;
	width: 340px;
	height: 573px;
	margin: 45px;
	padding: 25px;
	
}

.description {
	font-weight: 200;

	
}

.product {
	font-weight: 400;	
	font-size: 20px;
	margin-top: 3%;

	color:#515076;

}

.price {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 700;
	line-height: 64px;
	margin-top: auto;
	color: #515076;
}

.rub {
  float: right;
	font-size: 20px;
	line-height: 64px;
	color: #515076;
}
